<h1>Without custom cell renderer</h1>
<ag-grid-angular
  style="width: 500px; height: 200px;"
  class="ag-theme-alpine without-cell-renderer"
  [rowData]="rows"
  [columnDefs]="columnDefs"
  [modules]="modules"
  [gridOptions]="gridOptions"
  [frameworkComponents]="frameworkComponents"
>
</ag-grid-angular>

<h1>Custom cell renderer must be applied</h1>
<ag-grid-angular
  style="width: 500px; height: 200px;"
  class="ag-theme-alpine with-cell-renderer"
  [rowData]="rows"
  [columnDefs]="columnDefs2"
  [modules]="modules"
  [gridOptions]="gridOptions"
  [frameworkComponents]="frameworkComponents"
>
</ag-grid-angular>

